/*! css for motus status2 page

*/

.job_log {
    white-space: pre-wrap;
    font-family: monospace;
}

.timestamp {
    font-family: monospace;
}

.subjobs_heading {
    font-weight: bold;
}

.subjobs_table_heading {
    font-weight: bold;
}

.log_heading {
    font-weight: bold;
}

.status_okay {
    background-color: #20FF2040;
}

.status_error {
    background-color: #FF202040;
}

.status_waiting {
    background-color: #FFFF2040;
}

.status_running {
    background-color: #2020FF40;
}

.job_product_heading {
    font-weight: bold;
}

.job_id {
    text-align: right;
}

.job_id {
    text-align: right;
}

.job_motus_user_id {
    text-align: center;
}

.jobs_heading {
    font-weight: bold;
    font-size-adjust: 0.75;
}
